on:
  push:
    branches: [ main ]
  workflow_dispatch:
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: checkout code
        uses: actions/checkout@v4

      - name: set up node
        uses: actions/setup-node@v4
        with:
          node-version: '18'

      - name: install dependencies
        run: npm install

      - name: build applications
        run: echo "building application"
  test:
    runs-on: ubuntu-latest
    needs: build
    steps:
      - name: checkout code
        uses: actions/checkout@v4

      - name: install dependenies
        run: npm install

      - name: run test
        run: npm test
  deploy:
    runs-on: ubuntu-latest
    needs: test
    steps:
      - name: checkout code
        uses: actions/checkout@v4

      - name: deploying application
        run: echo "deploying"
    
    
